<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bandas de Rock Argentino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-dark py-3">
    <div class="container">
        <h1 class="text-white">Rock Argentino</h1>
        <nav>
            <button class="btn btn-primary" onclick="location.href='index.html'">Historia</button>
            <a> href="exponentes" class="btn btn-primary">Exponentes </a>
            <a> href="banda" class="btn btn-primary">Bandas </a>
            <button class="btn btn-primary" onclick="location.href='eventos.html'">Eventos Importantes</button>
        </nav>
    </div>
</header>
<main class="container mt-4">
    <section>
        <h2>Bandas de Rock Argentino</h2>
        <p>Algunas de las bandas más influyentes del rock argentino incluyen a Sui Generis, Soda Stereo y Patricio Rey y sus Redonditos de Ricota, cada una con su estilo único y contribuciones significativas al género.</p>
        <img src="bandas-rock.jpg" alt="Bandas de Rock Argentino" class="img-fluid">
    </section>
</main>
<footer class="bg-dark text-white py-3 mt-4">
    <div class="container">
        <p>Curso de Flask - 2024</p>
    </div>
</footer>
</body>
</html>
